
@{
    ViewData["Title"] = "AcessoNegado";
}

<h2>Acesso negado</h2>

<p>Efetue o login para poder abrir esta página</p>

<a class="btn btn-primary" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>

