@model List<SisEventos.Models.Reserva>
@{
    ViewData["Title"] = "Index";
}
<h2>Reservas</h2>

<a class="btn btn-primary" asp-controller="Reservas" asp-action="Create">Adicionar reserva</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reserva in Model)
        {
            <tr>
                <td>@reserva.Id</td>
            </tr>
        }
    </tbody>
</table>
