@model List<SisEventos.Models.Cidade>
@{
    ViewData["Title"] = "Index";
}

<h2>Cidades</h2>


<a class="btn btn-primary" asp-controller="Cidades" asp-action="Create">Adicionar cidade</a>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Código</td>
            <td>Nome</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
       @foreach(var cidade in Model)
       {
           <tr>
               <td>@cidade.Id</td>
               <td>@cidade.Nome</td>
           </tr>
       }
    </tbody>
</table>

