@model List<SisEventos.Models.Cidade>
@{
    ViewData["Title"] = "Index";
}

<h2>Cidades</h2>


<a href="/admin/cidades/create" class="btn btn-primary">Adicionar Nova</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       @foreach(var cidade in Model)
       {
        <tr>
            <td>@cidade.Id</td>
            <td>@cidade.Nome</td>
            <td>
                <a asp-area="Admin" asp-controller="Cidades" asp-action="Edit" asp-route-id="@cidade.Id">Editar</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a asp-area="Admin" asp-controller="Cidades" asp-action="Delete" asp-route-id="@cidade.Id">Apagar</a>
            </td>
        </tr>
       }
    </tbody>
</table>

