@model SisEventos.Models.Contato;
@{
    ViewData["Title"] = "Delete";
}

<h2>Apagar mensagem</h2>
<p>Tem certeza que quer apagar a mensagem @Model.Id ?</p>
<form asp-controller="Contatos" asp-action="Delete" method="post">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a asp-area="Admin"
               asp-controller="Contatos"
               asp-action="Index"
               class="btn btn-default">Cancelar</a>
            <button type="submit"
                    class="btn btn-danger">
                Apagar
            </button>
        </div>
    </div>
</form>