@model SisEventos.Models.Suite
@{
    ViewData["Title"] = "Detail";
}

<h2>Suíte</h2>

<div>

    <h3>Camas de Casal: @Model.QtCamaCasal</h3>
    <h3>Camas de Solteiro: @Model.QtCamaSolteiro</h3>
    <h3>Tipo: @Model.Tipo</h3>

</div>