@model SisEventos.Models.Contato
@{
    ViewData["Title"] = "Detail";
}

<h2>Contato</h2>

<div>
    
    <h3>Nome: @Model.Nome</h3>
    <h3>Email: @Model.Email</h3>
    <h3>Telefone: @Model.Telefone</h3>
    <h3>Mensagem: @Model.Mensagem</h3>

</div>